

server: 
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
 # servlet:       #optional context-path for api endpoints
 #  context-path:   
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/carrental2_db
    username: carrental2_user
    password: admin
    driver-class-name: org.postgresql.Driver

 
 
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate: 
     ddl-auto: update
     
  servlet: 
    multipart:
      max-file-size: 2MB    #imagefiles must be 2MB size maximum
      max-request-size: 2MB
         
   
   
carrental:
   app:
    jwtSecret: carrental@1234
    jwtExpirationMs: 86400000 
     
logging:
 file:
  name: logs/greenrent.log
 pattern:
    file: "%d %-5level [%thread] %logger:%msg%n"
     
 
 level:
   '[org.springframework.web]': INFO
   '[org.hibernate]': INFO
   '[com.greenrent]': DEBUG
     
     
 