

server: 
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/carrental2_db
    username: carrental2_user
    password: admin
    driver-class-name: org.postgresql.Driver

 
 
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate: 
     ddl-auto: update
     
carrental:
   app:
    jwtSecret: carrental@1234
    jwtExpirationMs: 86400000 
     
logging:
 file:
  name: logs/greenrent.log
 pattern:
    file: "%d %-5level [%thread] %logger:%msg%n"
     
 
 level:
   '[org.springframework.web]': INFO
   '[org.hibernate]': INFO
   '[com.greenrent]': DEBUG
     
     
 